* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

form 
{
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 5px;
}

.button-table
{
    margin: 3px;
    width: 60px;
}

tr th
{
    text-align: center;
}

.input-filter-small
{
    width: 60px;
    margin-right: auto;
    margin-left: auto;
}

.input-filter-medium
{
    margin-right: auto;
    margin-left: auto;
}

.center
{
    text-align: center;
}

.glyphicon {
    line-height: inherit;
}

thead{    
    background: linear-gradient(#dacbcb, white);
}

.small {
    font-size: 80%;
}