.email-content {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #01274b;    
}

.email-row {
    display: table;
    width: 100%;
}

.header-left {
    float: left;
    width: 30%;
}

.header-right {
    float: right;
    text-align: right;
}

.data-box {
    width: 100%;
    background-color: #dfe9f1;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #01274b;
    margin: auto;
}

.z-depth-5 {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

@media (max-width: 600px){
    .email-content{
        width: 100%;
    }
}