/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/01/2018, 08:57:06 AM
    Author     : erebolledo
*/

* {
    box-sizing: border-box;
}

.width {
}

.img-menu {
    display: block;
}

.no-img-menu {
    display: none;
}

.menu {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.no-dot {
    list-style-type: none;
}

.question {
    margin-top: 30px;
}

.question h4 {
    color: orange;
}

.answer h4 {
    color: #01274b;
}

.answer p {
    color: black;
}

.main-header-bar{
    background-color: white;
    position: relative;
    display: block;
    padding: 1em;
    margin: 0px;
    display: flex;
    border: 1px solid #e7e7e7;
    border-top-color: white;
    height: 167px;    
    margin-left: 4em;
    margin-right: 4em;    
}

.site-branding {
    
}

.main-content{
    margin-bottom: 0em;
    background-color: white;
    border: 1px solid #e7e7e7;
    flex: 1 0 auto;    
}

.content {
    padding: 2% 8% !important;
}

.footer{
    background-color: #01274b;
    position: relative;
    display: block;
    border: 1px solid #01274b;
    color: white;
    text-align: center;
    /*height: 5em;    */
    padding: 20px;
}

.footer-text {
    position: relative;
    top: 50%;

}

body {
    display: flex;
    flex-direction: column;
    height: 100%;        
    /*padding: 10px;*/
    padding-top: 0px;
    padding-bottom: 0px;  
    background-color: #01274b;
    background: linear-gradient(#01274b, #dfe9f1);
    /*background-color: #87CEEB;
    background: linear-gradient(#87CEEB, #FFFFFF);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html{
    height: 100%;
}

header {
    flex: 0 0 auto;    
}

footer {
    flex: 0 0 auto;    
}

h3 {
    font-weight: 700;
    color: #01274b;
}

.input-select {
    width: 80%; 
    float: left; 
}

.select-input {
    width: 20%; 
    float: left; 
}

ul.nav > li:hover {
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #FF9800;
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px; 
}

.container-fluid {
    padding: 0;
}

.shadow-white {
    color: black;
}

p .shadow-white {
    font-size: larger;
}

@media (max-width: 1000px) {
    .img-menu {
        display: none;
    }
    
    .no-img-menu {
        display: block;
    }
    
    .input-select {
        width: 70%; 
        float: left; 
    }

    .select-input {
        width: 30%; 
        float: left; 
    }    
    
    .no-img-menu > a > h1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }    
}

@media (max-width: 800px) {
    .carousel-caption .shadow-white {
        display: none;
    }        
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }    
}

@media (min-width: 1001px) {
    .navbar-nav {
        padding-top: 25px;
    }    
    .width {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }            
}

.container-form {
    /*border-radius: 5px;
    background-color: #f2f2f2;*/
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    padding: 2% 8%;
    color: inherit;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    color: black;
}

.form-signin {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

/*
 *Estilos del menu de los paquetes 
 */
.wrapper {
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
}

.wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 10px;
    /* padding-bottom: 0px;*/
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
    list-style-type: none;
    width: 100%;    
}

.wrapper li {
    float: left;
    list-style-type: none;
    padding-right: 30px;
}

/*
 * Estilo para el calendario
 */
.ui-datepicker {
    font-size: 11px;
}

.content-account {
    padding: 10px 20px;
}

.box{
    padding: 10px;
    border: 1px solid #e7e7e7;
    width: 70%;
    background-color: white;
    margin: 20px;
    width: 400px;
}

.box .row {
    height: 30px;
}

.orange-box {
    /* background-color: orange; */
    border: 1px solid darkorange;
    padding: 15px;
}

.z-depth-5 {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}